@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@200;500;800;900&display=swap');

:root {
    --dark-blue: #2b3467;
    --light-blue: #bad7e9;
    --dirty-white: #fcffe7;
    --fiery-rose: #eb455f;

    --primary-font: 'Montserrat', sans-serif;
    --accent-font: 'Carter One', cursive;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    background-color: var(--dirty-white);
    margin: 0;
    padding: 0;
    background-image: url(./assets/other-images/film-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
	flex-direction: column;
	min-height: 100vh;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--dark-blue);
    color: var(--dirty-white);
    margin-bottom: 50px;
    width: 100vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dirty-white);
}

a:hover,
a:focus {
    color: var(--fiery-rose);
}

.header-bar {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.header-text {
    font-family: var(--accent-font);
    font-size: 2rem;
    transition: 0.5s ease;
    flex-basis: 90%;
    text-align: center;
}

.nav-link {
    transition: 0.5s ease;
}

.hamburger {
    display: block;
    cursor: pointer;
    flex-basis: 10%;
    margin-right: 10px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: var(--dirty-white);
}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
}

nav {
    width: 100vw;
}

.nav-menu {
    position: fixed;
    right: -100%;
    top: 80px;
    flex-direction: column;
    background-color: var(--dark-blue);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 20px 6px 0 0;
}

.nav-item {
    margin: 25px 0;
}

.nav-menu.active {
    right: 0;
}

.floating-container img {
    width: 50px;
    height: auto;
    position: fixed;
    bottom: 100px;
    right: 30px;
    filter: invert(42%) sepia(70%) saturate(4276%) hue-rotate(328deg) brightness(98%) contrast(88%);
}

/*-------NEW MOVIES---------*/

.new-movies-container,
.upcoming-films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    max-width: 1200px;
}

.new-movies-container {
    max-width: 1440px;
}

.new-movies-container-image,
.upcoming-films-container-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.new-movies-container-image p {
    font-family: var(--accent-font);
    font-size: 150px;
    font-weight: bold;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    color: var(--fiery-rose);
    translate: 10px 30px;
    z-index: -1;
    margin: 0;
    min-width: 100px;
    text-align: end;
}

.image-box {
    width: 180px;
    height: 250px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.footer-container {
    background-color: var(--dark-blue);
    color: var(--dirty-white);
    padding: 20px 0;
    text-align: center;
    height: 75px;
    width: 100vw;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----UPCOMING MOVIES PAGE-------------*/
.year {
    font-family: var(--accent-font);
    font-size: clamp(7rem, 10vw, 8rem);
    font-weight: bold;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    color: var(--dark-blue);
    margin: 0;
    padding-left: 0.2em;
}

hr {
    width: 95%;
    translate: 0 -15px;
    height: 5px;
    background-color: var(--fiery-rose);
    border: none;
    border-radius: 50%;
}


@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        left: 0;
        top: -70px;
        gap: 3rem;
        background-color: var(--light-blue);
        height: 40px;
        padding: 0 0 0 40px;
        position: relative;
    }

    .nav-item {
        margin: 0;
        align-self: center;
    }

    .nav-link {
        color: var(--dark-blue);
        font-weight: bold;
    }
}